name: Auto merge Exercism PRs

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

permissions:
  contents: write
  pull-requests: write

jobs:
  automerge:
    runs-on: ubuntu-latest

    # Solo PRs creados por Exercism
    if: github.actor == 'exercism-solutions-syncer'

    steps:
      - name: Auto merge
        uses: pascalgn/automerge-action@v0.16.3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MERGE_METHOD: squash
          MERGE_LABELS: ""          # sin labels obligatorias
          MERGE_RETRIES: "10"
          MERGE_RETRY_SLEEP: "10000"
